<div class="container d-flex justify-content-center align-items-center mt-5 mb-5" style ="height: 50vh; ">
  <div>
      <div *ngIf="isLoading" style="justify-content: center;">
          <app-loading-spinner></app-loading-spinner>
      </div>
      <div class=" row alert alert-danger" *ngIf="error">
        <p>{{error}}</p>
      </div>
    <form (ngSubmit) = "register()" #f="ngForm" *ngIf="!isLoading">
      <div class="row ">
                <div class ="col-12">
                    <div class="row">
                      <div class="col-12">
                          <span *ngIf="!firstName.valid && firstName.touched" class="help-block">Podaj imię</span>
                            <input type="text" class="form-control" name="firstname" placeholder="First name" [(ngModel)]="model.firstname" #firstName="ngModel" required>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-12">
                          <span *ngIf="!lastName.valid && lastName.touched" class="help-block">Podaj nazwisko</span>
                            <input type="text" class="form-control" name="lastname" placeholder="Last name" [(ngModel)]="model.lastname" #lastName="ngModel" required>
                          </div>
                    </div>

                    
                    <div class="row mt-2">
                      <div class="col-12">
                        <span *ngIf="!email.valid && email.touched" class="help-block"> Podam e-mail</span>
                        <input type="text" class="form-control" name="email" placeholder="E-mail" [(ngModel)]="model.email" email #email="ngModel" required>
                      </div>
                  </div>
                  

                    <div class="row mt-2">
                      <div class="col-12">
                        <span *ngIf="!password.valid && password.touched" class="help-block">Podaj hasło</span>
                          <input type="text" class="form-control" name="password" placeholder="Password" type="password" #password="ngModel" [(ngModel)]="model.password" required>
                        </div>
                  </div>

                    
                    <div class="row mt-2">
                        <button class="btn btn-primary" type="submit">Zarejestruj</button>
                    </div>
                </div>
              </div>  
        </form>
    </div>
  </div>
