<div class="container center d-flex justify-content-center align-items-center mt-5 mb-5" style ="height: 50vh; ">
  <div>
      <div *ngIf="isLoading" style="justify-content: center;">
          <app-loading-spinner></app-loading-spinner>
      </div>
      <div class=" row alert alert-danger" *ngIf="error">
        <p>{{error}}</p>
      </div>

      <div>
        <p style="font-size: 40px;" >Rejestracja</p>
      </div>
      <form (ngSubmit) = "register()" #f="ngForm" *ngIf="!isLoading">
        <div class="row ">
          <div class ="col-12">
            <div class="row">

                      <div class="col-12">
                          <label [ngClass]="{'help-block': !firstName.valid && firstName.touched}" for="firstname">Podaj imię</label>
                            <input type="text" class="form-control" name="firstname" placeholder="Imię" [(ngModel)]="model.firstname" #firstName="ngModel" required>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-12">
                          <label [ngClass]="{'help-block': !lastName.valid && lastName.touched}"  for="lastName">Podaj nazwisko</label>
                            <input type="text" class="form-control" name="lastname" placeholder="Nazwisko" [(ngModel)]="model.lastname" #lastName="ngModel" required>
                          </div>
                    </div>

                    
                    <div class="row mt-2">
                      <div class="col-12">
                        <label [ngClass]="{'help-block': !email.valid && email.touched}" for="email"> Podaj e-mail</label>
                          <input type="text" class="form-control" name="email" placeholder="E-mail" [(ngModel)]="model.email" email #email="ngModel" required>
                      </div>
                  </div>

                  <div class="row mt-2">
                    <div class="col-12">
                      <label [ngClass]="{'help-block': !phoneNumber.valid && phoneNumber.touched}" for="phoneNumber"> Podaj numer telefonu</label>
                        <input type="text" class="form-control" name="phoneNumber" placeholder="Number Telefonu" [(ngModel)]="model.phoneNumber" #phoneNumber="ngModel" required>
                    </div>
                </div>
                  

                    <div class="row mt-2">
                      <div class="col-12">
                        <label [ngClass]="{'help-block': !password.valid && password.touched}"   for="password">Podaj hasło</label>
                          <input type="text" class="form-control" name="password" placeholder="Hasło" type="password" #password="ngModel" [(ngModel)]="model.password" required>
                        </div>
                  </div>

                  <div class="row mt-2">
                    <div class="col-12">
                      <label [ngClass]="{'help-block': model.password != model.confirmPassword}" for="confirmPassword">Powtórz hasło</label>
                        <input type="text" class="form-control" name="confirmPassword" placeholder="Powtórz Hasło" type="password" #confirmPassword="ngModel" [(ngModel)]="model.confirmPassword"  required>
                      </div>
                </div>


                  <div class="row mt-2">
                    <div class="col-12">
                      <label  for="selectedRole">Wybierz rolę</label>
                        <select  [(ngModel)]="selectedRole" name="selectedRole" id="" style="width: 100%; padding: .375rem .75rem; margin-top: 0;  border-radius: .25rem;" required>
                          <option value="Wystawca">Wystawca</option>
                          <option value="Klient" selected>Klient</option>
                        </select>
                     </div>
                  </div>
                    
                    <div class="row mt-2">
                        <button class="btn btn-secondary" [disabled]="!f.valid"  type="submit">Zarejestruj</button>
                    </div>
                </div>
              </div>  
        </form>
    </div>
  </div>
