<div class="col-xs-12">
    <button (click)="goToPrevious()" class="btn btn-danger">Wróć</button>
    
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>Twoje biurka:</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <app-desk-item
        *ngFor="let desk of desks; let i=index;"
        [desk]="desk"
        [index]="i">
        </app-desk-item>
    </div>
</div>

<div class="row mt-2 mb-2">
    <div class="col-xs-12">
        <button class="btn btn-success" (click)="onAddDesk()">Dodaj Biurko</button>
    </div>
</div>