<h1>Rezerwacje użytkowników</h1>
<hr>


<div class="container mt-5">
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li [ngbNavItem]="1">
            <a style="color:black" ngbNavLink>Biurka</a>
            <ng-template ngbNavContent>
                <app-manager-desk-list-reservation></app-manager-desk-list-reservation>
                
            </ng-template>
        </li>
        
        
        <li [ngbNavItem]="2">
            <a style="color:black" ngbNavLink>Sale</a>
            <ng-template ngbNavContent>
                <app-manager-room-list-reservations></app-manager-room-list-reservations>
                
            </ng-template>
        </li>
    
      </ul>
      
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
      
    
    </div>
    
    