<div class="container-fluid">
    <div class="row">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" [routerLink]="['/']">Twoje-Biuro.pl</a>
                  <button class="navbar-toggler ml-auto custom-toggler"type="button"data-toggle="collapse" (click)="isCollapsed = !isCollapsed"
                  [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
                  <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" [collapse]="isCollapsed">
                  <ul class="navbar-nav ml-auto">
                      <li class="nav-item" *ngIf="isLoggedIn">
                        <a class="nav-link" [routerLink]="['/offices']" routerLinkActive="router-link-active">Twoje Biura</a>
                      </li>
                      <li class="nav-item" *ngIf="isLoggedIn">
                        <a class="nav-link" [routerLink]="['/user/profile']" routerLinkActive="router-link-active">Twój Profil</a>
                      </li>
                      <li class="nav-item" *ngIf="isLoggedIn">
                        <a class="nav-link" [routerLink]="['/user/reservations']" routerLinkActive="router-link-active">Twoje Rezerwacje</a>
                      </li>
                      <li class="nav-item"  *ngIf="!isLoggedIn">
                        <a class="nav-link" [routerLink]="['/register']" routerLinkActive="router-link-active"  >Rejestracja</a>
                      </li>
                      <li class="nav-item"  *ngIf="!isLoggedIn">
                        <a class="nav-link" [routerLink]="['/login']" routerLinkActive="router-link-active" >Logowanie</a>
                      </li>
                      <li class="nav-item"  *ngIf="isLoggedIn">
                        <a class="nav-link" [routerLink]="['/logout']" routerLinkActive="router-link-active" (click)="logout()">Wyloguj </a>
                      </li>
                    </ul>
                  </div>
                </nav>
              </div>
