
<div class="card mb-3  list-item-bg" style="max-width: 540px; border-left: none; border-right: none;">
    <a style="cursor: pointer;color:black; border:none;" class="list-group-item bgt"
    [routerLink]="[index]">
    <div class="row no-gutters bgt">
      <div class="col-md-4  bgt">
        <img src="{{room.mainUrl}}" class="card-img bgt" alt="...">
      </div>
      <div class="col-md-8  bgt">
        <div class="card-body bgt">
          <h5 class="card-title  bgt">{{room.name}}</h5>
          <p class="card-text">{{room.description}}</p>
          
        </div>
      </div>
    </div>
    </a>
    <div class="row">
        <div class="optionLink" >
            <a style="float:right; margin-right: 10px; margin-bottom: 10px;" (click)="onEditRoom()">Edytuj</a>
        </div>
    </div>
    

  </div>

