
<div class="card mb-3" style="max-width: 540px;">
    <a style="cursor: pointer; border:none;" class="list-group-item"
    [routerLink]="[index]">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{room.mainUrl}}" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{room.name}}</h5>
          <p class="card-text">{{room.description}}</p>
          
        </div>
      </div>
    </div>
    </a>
    <div class="row">
        <div class="optionLink" >
            <a style="float:right; margin-right: 10px; margin-bottom: 10px;" (click)="onEditRoom()">Edytuj</a>
        </div>
    </div>
    

  </div>

