
  <div class="col-md-12 list-item-bg border-bottom">
    <div class="row bgt" style="justify-content: space-between; " >
        <div class="col-md-5 bgt">
            <div class="card mb-5 bgt" style="max-width: 540px; border:none; padding:0">
                <a style="cursor: pointer; color:black; border:none;" class="list-group-item bgt"
                (click)="showOfficeInfo()" >
                <div class="row no-gutters bgt">
                    <div class="col-md-4">
                        <img src="{{reservation.roomDto.mainUrl}}" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h4 class="card-title">{{reservation.roomDto.name}}</h4>
                            <h5 class="card-title">Sala {{reservation.roomDto.seats}}-osobowa</h5>
                            <div class="pull-left" *ngIf="reservationStartDay!=reservationEndDay">
                              <h6 class="list-group-item-heading"> Kiedy: od {{reservationStartDay}} do {{reservationEndDay}} </h6>
                          </div> 
                          <div class="pull-left" *ngIf="reservationStartDay==reservationEndDay">
                              <h6 class="list-group-item-heading"> Kiedy: {{reservationStartDay}}</h6>
                          </div> 
                          <div class="pull-left">
                              <h6 class="list-group-item-heading"> Czas: od {{reservationStartHour}} do {{reservationEndHour}} </h6>
                          </div> 
                          <div class="pull-right text-info" *ngIf="reservation.status == 2">
                            <h6 class="list-group-item-heading"> Status:  Czeka na potwierdzenie </h6>
                        </div> 
                        <div class="pull-right text-success" *ngIf="reservation.status == 1">
                            <h6 class="list-group-item-heading"> Status: Rezerwacja potwierdzona </h6>
                        </div> 
                        <div class="pull-right text-danger" *ngIf="reservation.status == 0">
                            <h6 class="list-group-item-heading"> Status: Rezerwacja odrzucona </h6>
                        </div> 
                          </div>
                    </div>
                </div>
            </a>
        </div>
        </div>


        
        <div class="col-md-2" style="position:relative" *ngIf="reservation.status ==0">
            <div class="row inner" >
                <div class="center">
                    <button class="btn btn-danger" (click)="cancelReservation()">Usuń</button>
                </div>
            </div>
        </div>

        <div class="col-md-2" style="position:relative" *ngIf="reservation.status !=0">
            <div class="row inner" >
                <div class="center">
                    <button class="btn btn-success" (click)="cancelReservation()">Odwołaj</button>
                </div>
            </div>
        </div>
    </div>
</div>