<div class="col-md-10">
    <div class="row border-bottom border-top" style="justify-content: space-between;" >
        <div class="col-md-5">
            <div class="card mb-7" style="max-width: 540px; border:none">
                <a style="cursor: pointer;  color:black; border:none;" class="list-group-item"
                (click)="showOfficeInfo()" >
                <div class="row no-gutters">
                    <div class="col-md-8">
                        <div class="card-body">
                            <h4 class="card-title">Biurko: {{desk.seats}}-osobowe</h4>
                            <p class="card-text">{{officeName}}, {{officeAddress.city}}, {{officeAddress.street}}</p>
                            
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-md-2" style="position:relative">
        <div class="row inner" >
            <div ngbTooltip="Aby dokonać rezerwacji zaloguj się">
                <button class="btn btn-light"  [disabled]="currentUser==null"  (click)="reserveDesk()">Zarezerwuj</button>
            </div>
        </div>
    </div>
</div>
</div>