<div class="background"></div>
    <div class="desk-info">
        <div class="row" >
            <div class="row">
                <h2>Kontakt:</h2>
                <p>Biuro: {{deskOffice.officeName}}</p>
                <p>{{deskOffice.officeAddress.street}}, {{deskOffice.officeAddress.zipCode}} {{deskOffice.officeAddress.city}}</p>
                <!-- <p>{{roomOffice.officeAddress.zipCode}} {{roomOffice.officeAddress.city}}</p> -->
            </div>
            <div class="row">
                <div class="desk-info-actions">
                    <button class="btn btn-primary" (click)="close()">Zamknij</button>
                </div>
            </div>
        </div>
    </div>

