.background{
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background: rgba(0,0,0,0.75);
    z-index: 50;
}

.room-info{

    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width:60vh;
    padding:16px;
    z-index: 100;
    background: white;
    background-color:rgba(255, 255, 255, 0.95) !important;
    border-radius: 5px;
}

.room-info-actions{
    text-align: right;
}


.form-check-input:checked{
    background-color: gray;
    border-color: gray;
    }