<div class="d-flex justify-content-center align-items-center mt-5 mb-5" style ="height: 50vh">
    <div>
        <div class=" row alert alert-danger" *ngIf="error">
            <p>{{error}}</p>
        </div>
        <div *ngIf="isLoading">
            <app-loading-spinner></app-loading-spinner>
        </div>
        <div>
            <p style="font-size: 40px;" >Logowanie</p>
          </div>
    <form (ngSubmit) = "login()" #f="ngForm" *ngIf="!isLoading">
        <div class="row ">
            <div class ="col-12">
                <div class="row">
                    <div class="col-12">
                        <label [ngClass]="{'help-block': !email.valid && email.touched}" for="username"> Podaj e-mail</label>
                            <input type="text" class="form-control" name="username"  placeholder="e-mail" [(ngModel)]="model.email" email #email="ngModel" required>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <label [ngClass]="{'help-block': !password.valid && password.touched}" for="password" >Podaj hasło</label>
                        <input type="text" class="form-control" name="password" placeholder="Hasło" type="password" #password="ngModel" [(ngModel)]="model.password" required>
                    </div>
                </div>
                <div class="row mt-2">
                    <a (click)="onForgotPassword()" style="cursor: pointer;">Zapomnialem hasła</a>
                </div>
                <div class="row mt-2">
                    <button class="btn btn-secondary" type="submit">Zaloguj</button>
                </div>
            </div>
        </div>  
    </form>
</div>
</div>