<div class="container d-flex justify-content-center align-items-center mt-5 mb-5" style ="height: 50vh">
<form (ngSubmit) = "login()" #f="ngForm">
        <div class="row ">
            <div class ="col-12">
                <div class="row">
                    <div class="col-12">
                        <span class="help-block" *ngIf="!email.valid && email.touched">Please enter valid email</span>
                        <input type="text" class="form-control" name="username"  placeholder="Email" [(ngModel)]="model.email" email #email="ngModel" required>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <span class="help-block" *ngIf="!password.valid && password.touched">Please enter your password</span>
                        <input type="text" class="form-control" name="password" placeholder="Password" type="password" #password="ngModel" [(ngModel)]="model.password" required>
                    </div>
                </div>
                <div class="row mt-2">
                    <a href="http://">Zapomnialem hasła</a>
                </div>
                <div class="row mt-2">
                    <button class="btn btn-primary" type="submit">Zaloguj</button>
                </div>
            </div>
        </div>  
    </form>
</div>