
<div class="container d-flex justify-content-center align-items-center mt-5 mb-5" style ="height: 50vh">
    <div>

        <div class="row alert alert-danger" *ngIf="error">
            <p>{{error}}</p>
        </div> 
        <div *ngIf="isLoading" style="text-align: center;">
            <app-loading-spinner></app-loading-spinner>
        </div> 

        <div class="row success alert-success p-2" *ngIf="passwordChanged">
            <div class="col-12 justify-content-center align-items-center">
                <p>Hasło zostało zmienione!</p>
            </div>
        </div>
    <form (ngSubmit) = "submit()" [formGroup]="resetPasswordForm" *ngIf="!isLoading">
        <div class="row ">
            <div class ="col-12">
                <div class="row mt-2">
                    <div class="col-12">
                        <label for="new-password">Podaj nowe hasło:</label>
                        <input type="text" formControlName="password" class="form-control" name="password" placeholder="Nowe hasło" type="password" >
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <label for="confirm-password">Potwierdź hasło:</label>
                        <input type="text" formControlName="confirmPassword" class="form-control" name="confirm-password" placeholder="Potwierdź hasło" type="password">
                    </div>
                </div>
                <div class="row mt-2">
                    <button class="btn btn-secondary" type="submit" [disabled]="!resetPasswordForm.valid" >Wyślij</button>
                </div>

            </div>
        </div>  
    </form>
</div>
</div>