<div class="container-fluid mb-5">

  <section id="hero" class="clearfix" style="height: 50vh;">
    <div class="container d-flex h-100" style="position: relative;">
      
      <div class="row" >
        
          <div class="col-xs-12 centerTop" >
            <p style="font-size: 40px;" class="center">Miejsce do pracy dla Twojej firmy</p>
          </div>

      </div>
    </div>
  </section>

  <section>
    <div style="position: relative;">

      <app-search-bar></app-search-bar>


  <section class="clearfix" style="height: 50vh;">

    <div class="container" >

      <div class="row" > 
        <div class="col-xs-12 center"  >
          <p style="text-align:center; font-size: 40px;" class="center">Korzystaj z przestrzeni udostępnianej przez największe biura w Polsce</p>
        </div>
      </div>
    </div>
    
  </section>
</div>
</section>
  
</div>

