<div class="container mt-5">
<ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li [ngbNavItem]="1">
      <a style="color:black" ngbNavLink>Moje Dane</a>
      <ng-template ngbNavContent>
          
        <div class="row">
            <h1 class="mt-2">Dane podstawowe:</h1>
            <div class="col-md-5 ">
                <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" >
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="name">Imię:</label>
                                <input 
                                type="text"
                                formControlName="firstName"
                                class="form-control">
                            </div>
                        </div>
                    </div>
        
                    <div class="row mt-2">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="name">Nazwisko:</label>
                                <input 
                                type="text"
                                formControlName="lastName"
                                class="form-control">
                            </div>
                        </div>
                    </div>
                    
                    <div class="row mt-3">
                        <div class="col-xs-12" style="text-align: right;">
                            <button [disabled]="!profileForm.valid" class="btn btn-secondary">Zapisz zmiany</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

      </ng-template>
    </li>


    <li [ngbNavItem]="2">
      <a style="color:black" ngbNavLink>Zmiana hasła</a>
      <ng-template ngbNavContent>
      <div class="row">
        <h1 class="mt-2">Zmiana hasła:</h1>
        <div class="col-md-5 ">
            <form [formGroup]="passwordForm" (ngSubmit)="onSubmitPassword()" >
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="name">Stare hasło:</label>
                            <input 
                            type="password"
                            formControlName="currentPassword"
                            required
                            class="form-control">
                        </div>
                    </div>
                </div>
    
                <div class="row mt-2">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="name">Nowe hasło:</label>
                            <input 
                            type="password"
                            formControlName="newPassword"
                            required
                            class="form-control">
                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="name">Powtórz hasło:</label>
                            <input 
                            type="password"
                            formControlName="confirmPassword"
                            required
                            class="form-control">
                        </div>
                    </div>
                </div>
                
                <div class="row mt-3">
                    <div class="col-xs-12" style="text-align: right;">
                        <button [disabled]="!passwordForm.valid" class="btn btn-secondary">Zapisz zmiany</button>
                    </div>
                </div>
                <div class="row success alert-success p-2 mt-2" *ngIf="passwordChanged" >
                    <div class="col-12 justify-content-center align-items-center">
                        <p>Hasło zostało zmienione!</p>
                    </div>
                </div>
    
    
            </form>
        </div>
    </div>
</ng-template>
    </li>

  </ul>
  
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
  

</div>

