
<div>
    <div class="row col-md-12"   style="border: solid 0px; margin:0; justify-content: center; align-self: center;">
      <div>
        <h2 style="text-align: center;">Czego szukasz?</h2>
      </div>
          <div  class="col-md-2" style="padding: 0;">
            <select  [(ngModel)]="selectedPlace" name="" id="" style="width: 100%; padding: .375rem .75rem; height:100%; border-radius: .25rem;">
              <option value="Biurko/Sala" disabled selected>Biurko/Sala</option>
              <option value="Biurko">Biurko</option>
              <option value="Sala">Sala</option>
            </select>
          </div>
          
          <div class="col-md-6" style="margin: 0; padding:0">
              <select name="" id="" [(ngModel)]="selectedCity" style="width: 100%; padding: .375rem .75rem; height:100%; border-radius: .25rem;">
                <option value="Wybierz Miasto" disabled selected>{{initialCity}}</option>  
                <option *ngFor="let city of cities" [ngValue]="city.name">{{city.name}}</option>
                <!-- <option value="Biurko" style="border-radius: .25rem;">Biurko</option>
                <option value="Sala">Sala</option> -->
              </select>
        </div>
        <div class="col-md-2" style="padding:0">
          <button class="btn btn-success" style="width: 100%;" (click)="onSubmit()"
          [disabled]="selectedCity=='Wybierz Miasto' || selectedPlace=='Biurko/Sala'">Szukaj</button>
        </div>
      </div>
  </div>