<div class="container d-flex justify-content-center align-items-center mt-5 mb-5" style ="height: 50vh">
        <div>

            

            <div class="row success alert-success p-2" *ngIf="isSend">
                <div class="col-12 justify-content-center align-items-center">
                    <p>Hasło zostało zmienione</p>
                </div>
            </div>

            <div *ngIf="isLoading" style="text-align: center;">
                <p>Za chwilę zostaniesz przeniesniony na stronę głowną</p>
                <app-loading-spinner></app-loading-spinner>
            </div>
            
            <form (ngSubmit) = "submit()" #f="ngForm" *ngIf="!isLoading">
            <p>Podaj e-mail, a otrzymasz link do resetu hasła.</p>
            <div class="row ">
                <div class ="col-12">
                    <div class="row">
                        <div class="col-12">
                            <span class="help-block" *ngIf="!email.valid && email.touched">Please enter valid email</span>
                            <input type="text" class="form-control" name="email"  placeholder="Email" [(ngModel)]="model.email" email #email="ngModel" required>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <button class="btn btn-primary" (click)="submit()" [disabled]="!email.valid" type="submit">Wyślij</button>
                    </div>
                </div>
            </div>  
        </form>


    </div>