<span *ngIf="!editMode">
    <h1>Nowe biuro:</h1>
</span>
<span *ngIf="editMode">
<h1>Edycja:</h1>
</span>
<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="officeForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input 
                        type="text"
                        formControlName="officeName"
                        required
                        class="form-control">
                    </div>
                </div>
            </div>
            

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="city">Miasto</label>
                        <input type="text"
                        formControlName="officeCity"
                        required
                        class="form-control">
                    </div>
                </div>
        </div>    

            <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="street">Ulica</label>
                            <input type="text"
                            formControlName="officeStreet"
                            required
                            class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="zipCode">Zip-Code</label>
                            <input type="text"
                            formControlName="officeZipCode"
                            class="form-control"
                            >
                        </div>
                    </div>
            </div>     
            
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea formControlName="officeDescription" class="form-control" name="description" rows="3"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 mt-2">
                    <button [disabled]="!officeForm.valid" class="btn btn-primary" type="submit">Zapisz</button>
                    <button class="btn btn-danger" (click)="onCancel()" type="button">Anuluj</button>
                </div>
                
            </div>


            <!-- <div class="row mt-3">
                <div class="row col-xs-12">
                    <div class="mb-3 col-md-3">
                       <div class="form-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                              <input type="checkbox" name="tv-checkbox">
                              <label class="ml-1" for="tv-checkbox">TV</label>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="mb-3 col-md-3">
                        <div class="form-group">
                         <div class="input-group-prepend">
                             <div class="input-group-text">
                               <input type="checkbox" name="tv-checkbox">
                               <label class="ml-1" for="tv-checkbox"> White Board</label>
                             </div>
                           </div>
                         </div>
                       </div>

                       <div class="mb-3 col-md-3">
                        <div class="form-group">
                         <div class="input-group-prepend">
                             <div class="input-group-text">
                               <input type="checkbox" name="tv-checkbox">
                               <label class="ml-1" for="tv-checkbox"> TV</label>
                             </div>
                           </div>
                         </div>
                       </div>

                       <div class="mb-3 col-md-3">
                        <div class="form-group">
                         <div class="input-group-prepend">
                             <div class="input-group-text">
                               <input type="checkbox" name="tv-checkbox">
                               <label class="ml-1" for="tv-checkbox">TV</label>
                             </div>
                           </div>
                         </div>
                       </div>

                </div>
                
                <div class="row"></div>
                <div class="row"></div>
            </div> -->
        </form>
    </div>
</div>