
  <div class="col-md-12 list-item-bg border-bottom">
    <div class="row" style="justify-content: space-between; " >
        <div class="col-md-5 bgt">
            <div class="card mb-5 bgt" style="max-width: 540px; border:none; padding:0">
                <a style="cursor: pointer; color:black; border:none;" class="list-group-item bgt">
                <div class="row no-gutters bgt">
                    <div class="col-md-12 bgt">
                        <div class="card-body bgt ">
                            <h6 class="card-title bgt">Biuro:{{reservation.officeName}} [Sala:{{reservation.roomName}}]</h6>
                            <!-- <h6 class="card-title"></h6> -->
                            <h6 class="card-title bgt">Kto:{{reservation.userName}}</h6>
                            <div class="pull-left" *ngIf="reservationStartDay!=reservationEndDay">
                              <h6 class="list-group-item-heading"> Kiedy: od {{reservationStartDay}} do {{reservationEndDay}} </h6>
                          </div> 
                          <div class="pull-left" *ngIf="reservationStartDay==reservationEndDay">
                              <h6 class="list-group-item-heading"> Kiedy: {{reservationStartDay}} </h6>
                          </div> 
                          <div class="pull-left">
                              <h6 class="list-group-item-heading"> Czas: od {{reservationStartHour}} do {{reservationEndHour}} </h6>
                          </div> 
                          <div class="pull-left text-danger" *ngIf="reservation.status == 0">
                              <h6 class="list-group-item-heading"> Status: Rezerwacja odrzucona </h6>
                            </div> 
                            <div class="pull-left text-success" *ngIf="reservation.status == 1">
                                <h6 class="list-group-item-heading"> Status: Rezerwacja potwierdzona </h6>
                            </div> 
                                                  <div class="pull-left text-info" *ngIf="reservation.status == 2">
                                                    <h6 class="list-group-item-heading"> Status:  Czeka na potwierdzenie </h6>
                                                </div> 
                          </div>
                    </div>
                    <div>
                        <button class="btn btn-danger mt-2" (click)="cancelReservation()">Anuluj</button>
                        <button class="btn btn-warning mt-2 ml-2" (click)="postopneReservation()">Czekaj</button>
                        <button  class="btn btn-success mt-2 ml-2" (click)="acceptReservation()">Zaakceptuj</button>
                    </div>
                </div>
            </a>
        </div>
        </div>

    </div>
</div>